@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Games Library</h1>
    <p class="lead">A large library of games you can review, edit, and add to.</p>
    <p style="font-weight: bold;"><a href="~/Game" >Browse Games Library &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-push-6">
        <h2>Platforms</h2>
        <p>
            Checkout our database of Gaming platforms with detailed information about your favorite plastic boxes!
        </p>
        <p><a class="btn btn-primary" href="~/Platform">Browse Platforms &raquo;</a></p>
    </div>
    <div class="col-md-pull-6">
        <h2>Review</h2>
        <p>Review your favorite or least favorite games!</p>
        <p><a class="btn btn-primary" href="-Review">Review A Game &raquo;</a></p>
    </div>
   
</div>